
/* Importing google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Keyframes */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Media queries */  
@media screen and (max-width: 713px) {
  .nav a:not(.active) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}
  
@media screen and (max-width: 713px) {
  .name_forms {
    width: 80%;
  }
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .contact_form p {
    font-size: 22px;
  }
  .social_media_box_title {
    font-size: 22px;
  }
  .social_big_icons {
    display: none;
  }
  .about_text {
    font-size: 18px;
  }
}

@media screen and (min-width: 713px) {
  .about_text {
    font-size: 22px;
  }
  .contact_form p {
    font-size: 30px;
  }
  .name_forms {
    width: 168px;
  }
  .social_media_box_title {
    font-size: 30px;
  }
  .social_small_icons {
    display: none;
  }
}

@media screen and (max-width: 1049px) {
  .court_name {
    margin-left: 10%;
  }
  .court_place {
    margin-left: 10%;
  }
}

@media screen and (min-width: 1050px) {
  .court_name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  .court_place {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
}

@media screen and (min-width: 1052px) {
  .vote_text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1116px) {
  .contact_form {
    margin: 25px;
  }
  .social_media_box {
    margin: 25px;
  }
}

@media screen and (min-width: 1117px) {
  .contact_form {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 75px;
  }
  .social_media_box {
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 75px;
  }
}

/* Apply attributes to all elements */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Apply attrtibutes to html */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

/* Apply attrtibutes to body */
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.disclaimer_text {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.9em;

}
/* Apply attrtibutes to footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: gray;
}

/* Apply attrtibutes to header */
header {
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
  color: white;
  display: flex;
	align-items: center;
	justify-content: left;
}

/* Apply attrtibutes to header image */
.header_image {
  display: flex;
  padding-left: 10px;
}

.header_image img {
  width: 45px;
  height: 45px;
}

/* Apply attrtibutes to header text */
.header_text {
  display: flex;
  padding-left: 20px;
  font-size: 11px;
  
}

/* Apply attrtibutes to navigation bar */
.nav {
  min-height: 4.5vh;
  overflow: hidden;
  background-color: gray; 
}

/* Apply attrtibutes to navigation bar links */
.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}

/* Apply background-colour to active link */
.active {
  background-color: #fa8320;
}

/* Set nav icon to display none */
.nav .icon {
  display: none;
}

/* Apply background-colour to nav-bar links expect active link, when hovered over */
.nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Apply attributes to h3 and p elements */ 
h3, p {
  text-align: center;
  color: white;
}

/* Apply attributes to section_1 class */
.section_1 {
  height: fit-content;
}

/* Apply attributes to home_title class */
.home_title {
  text-align: center;
  color:  gray;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  font-size: 26px;
  }

/* Apply attributes to pages_title class */
.pages_title {
  text-align: center;
  color:  gray;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 30px;
  }

/* Apply attributes to search box container */
.search_box {
  display: flex;
  background-color: gray;
  width: 80vw;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 20px;
  border-radius: 60px;
}

/* Apply attributes to search box */
.search {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 14px;
  color: white;
  line-height: 1rem;
  font-size: 1rem;
}

/* Apply attributes to search box placeholder text */
::placeholder {
  color: white;
  font-size: 14px;
}

/* Apply attributes to section_2 class */
.section_2 {
  height: fit-content;  
}

/* Apply attributes to h2 elements in section_2 class  */
.section_2 h2 {
  text-align: center;
  color:  gray;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

/* Apply attributes to h2 elements in section_3 class  */
.section_3 h2 {
  text-align: center;
  color:  gray;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

/* Apply attributes to courts_box class */
.courts_box {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;   
}

/* Apply attributes to top_3_courts class */
.top_3_courts {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: block;
	box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
	background-color: #fa8320;
	width: 270px;
  height: 349px;
  transition: scale 350ms ease, opacity 350ms linear;
}

/* Apply attributes to court_box class */
.court_box {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: none;
	box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
	background-color: #fa8320;
	width: 270px;
  height: 349px;
  transition: scale 350ms ease, opacity 350ms linear;
}

/* Apply attributes to court_body class */
.court_body {
  margin-top: 10px;
}

/* Apply fade affect to court boxes */
.courts_box:has(.court_box:hover) .court_box:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}

.courts_box:has(.top_3_courts:hover) .top_3_courts:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}

/* Apply attributes to search_text class */
#search_text {
  display: none;
}

/* Apply attributes to no results text */
#no_results {
  margin-top: 1rem;
  display: none;
  text-align: center;
  color: gray;
  transition: scale 350ms ease, opacity 350ms linear;
  animation: fadeIn 0.25s;
  -webkit-animation: fadeIn 0.25s;
  -moz-animation: fadeIn 0.25s;
  -o-animation: fadeIn 0.25s;
  -ms-animation: fadeIn 0.25s;
  
}

/* Apply attributes to court images */
.court_box img {
  width: 270px;
  height: 180.36px;
}

.top_3_courts img {
  width: 270px;
  height: 180.36px;
}

/* Apply attributes to court button */
.button_1 {
  display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}

/* Apply attributes to court button-wrapper */
.button_wrapper {
  height: 3rem;
  background-color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Apply attributes to footer icons class */
.footer_icons {
  text-align: center;
}

/* Apply attributes to small social icons class */
.social_small_icons {
  margin-bottom: 17px;
  text-align: center;
}

/* Apply attributes to social big icons class */
.social_big_icons {
  margin-bottom: 17px;
  text-align: center;
}

/* Apply attributes to font awesome facebook icon */
.fa-facebook {
  color: white;
}

/* Apply attributes to font awesome youtube icon */
.fa-youtube {
  color: white;
}

/* Apply attributes to font awesome twitter icon */
.fa-twitter {
  color: white;
}

/* Apply attributes to font awesome instagram icon */
.fa-instagram {
  color: white;
}

/* Apply attributes to font awesome snapchat icon */
.fa-snapchat {
  color: white;
}

/* Apply attributes to about_text class */
.about_text {
  display: flex;
  background-color: #fa8320;
  height: fit-content;
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  align-items: center;
}

/* Apply attributes to p elements in about_text class */
.about_text p {
  padding: 20px;
}

/* Apply attributes to team_box class */
.team_box {
  display: flex;
  background-color: #fa8320;
  height: fit-content;
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Apply attributes to team_icon class */
.team_icon {
  height: fit-content;
  padding: 20px;
}

/* Apply attributes to team_text class */
.team_text  {
  background-color: gray;
  text-align: center;
  color: white;
  padding: 10px;
}

/* Apply attributes to contact_boxes class */
.contact_boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

/* Apply attributes to contact_form class */
.contact_form {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  width: 80%;
  max-width: 450px;
  height: fit-content;
  background-color: #fa8320;
  text-align: center;
} 

/* Apply attributes to p elements in contact_form class */
.contact_form p {
  margin-bottom: 15px;
}

/* Apply attributes to input elements in contact_form class */
.contact_form input {
  margin: 10px;
  color: white;
}

/* Apply attributes to social_media_box class */
.social_media_box {
  width: 80%;
  max-width: 450px;
  height: fit-content;
  background-color: #fa8320;
}

/* Apply attributes to name_forms class */
.name_forms {
  background-color: transparent;
  border: white 2px solid;
  padding: 5px;
}

/* Apply attributes to email_form class */
.email_form {
  background-color: transparent;
  border: white 2px solid;
  padding: 5px;
  width: 80%;
}

/* Apply attributes to message_form class */
.message_form {
  color: white;
  font-family: 'Roboto', sans-serif;
  resize: none;
  background-color: transparent;
  border: white 2px solid;
  padding: 5px;
  margin: 10px;
  width: 80%;
  height: 150px;
}

/* Apply attributes to contact_btn ID */
#contact_btn {
  display: block;
  margin-left: 10%;
  color: white;
  background-color: gray;
  padding: 10px;
  border: none;
  
}

/* Apply background-colour to contact_btn ID when hovered */
#contact_btn:hover {
  background-color: #555;
  color: white;
  cursor: pointer;
}

/* Apply attributes to social_media_box_title class */
.social_media_box_title {
  padding-top: 17px;
  padding-bottom: 17px;
}

/* Apply attributes to social_media_box_p class */
.social_media_box_p {
  padding-left: 10px;
  padding-right: 10px;
}

/* Apply attributes to court_name class */
.court_name {
  margin-top: 20px;
  color: gray;
  font-size: 32px;
  text-align: left; 
}
 /* Apply attributes to court_place class */
.court_place {
  display: block;
  color: gray;
  font-size: 1rem;
  text-align: left;
}

 /* Apply attributes to court_page class */
.court_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

 /* Apply attributes to court_info class */
.court_info {
  background-color: gray;
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
}

 /* Apply attributes to court_info_name class */
.court_info_name {
  text-align: left;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 25px;
  font-size: 1.5rem;
}

 /* Apply attributes to court_info_type class */
.court_info_type {
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 1rem;
}

 /* Apply attributes to court_info_address class */
.court_info_address {
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 1rem;
}

 /* Apply attributes to court_map_vote class */
.court_map_vote {
  background-color: #fa8320;
  width: 100%;
  max-width: 600px;
  margin-bottom: 25px;
}

 /* Apply attributes to court_map_text class */
.court_map_text {
  text-align: left;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 1.5rem;
}

 /* Apply attributes to iframe elements in court_map_vote class */
.court_map_vote iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 0px;
}

/* Apply attributes to vote_text class */
.vote_text {
  text-align: left;
  margin-left: 25px;
  margin-bottom: auto;
  margin-top: auto;
}

/* Apply attributes to vote_box class */
.vote_box {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Apply attributes to like_button id */
#like_button {
  margin-left: 15px;
  margin-bottom: 0px;
  height: 25px;
  width: 25px;
  border: none;
}

/* Apply attributes to like_number and dislike number id */
#like_number, #dislike_number  {
  margin-left: 10px;
  margin-top: 3px;
}

 /* Apply attributes to dislike button id */
#dislike_button {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border: none;
}

